<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
   $HeadURL:$
   $Id:$

   Copyright 2006 by the President and Fellows of Harvard College.
   
   Screensaver is an open-source project developed by the ICCB-L and NSRB labs
   at Harvard Medical School. This software is distributed under the terms of
   the GNU General Public License.
-->

<!-- A top-level, composite Spring context configuration file, intended to test
  the user authentication and data access policy code. Allows a full Spring 
  configuration to be referenced via a single file.  -->

<beans>

  <bean
    id="currentScreensaverUser"
    class="edu.harvard.med.screensaver.ui.CurrentScreensaverUser">
  </bean>
  
  <bean id="dataAccessPolicy"
   class="edu.harvard.med.screensaver.ui.WebDataAccessPolicy">
   <constructor-arg ref="currentScreensaverUser" />
  </bean>
  
  <import resource="spring-context-authentication.xml"/>
  <import resource="spring-context-persistence.xml"/>
  <import resource="spring-context-services.xml"/>
  <import resource="spring-context-logging.xml"/>
  
</beans>
