<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
   $HeadURL$
   $Id$

   Copyright © 2006, 2010 by the President and Fellows of Harvard College.

   Screensaver is an open-source project developed by the ICCB-L and NSRB labs
   at Harvard Medical School. This software is distributed under the terms of
   the GNU General Public License.
-->


<!-- A top-level, composite Spring context configuration file, intended to run (most) unit tests (uses unrestricted data access policy).
  Allows a full Spring configuration to be referenced via a single file.  -->

<beans>

  <import resource="spring-context-config.xml"/>

  <bean id="entityViewPolicy"
   class="edu.harvard.med.screensaver.policy.DefaultEntityViewPolicy">
  </bean>

  <bean id="entityEditPolicy"
   class="edu.harvard.med.screensaver.policy.DefaultEntityEditPolicy">
  </bean>

  <bean id="smallMoleculeCherryPickRequestAllowancePolicy"
   class="edu.harvard.med.iccbl.screensaver.policy.cherrypicks.SmallMoleculeCherryPickRequestAllowancePolicy">
    <constructor-arg ref="genericEntityDao"/>
   </bean>

  <bean id="rnaiCherryPickRequestAllowancePolicy"
   class="edu.harvard.med.iccbl.screensaver.policy.cherrypicks.RNAiCherryPickRequestAllowancePolicy" >
    <constructor-arg ref="genericEntityDao"/>
   </bean>

  <bean
    id="currentScreensaverUser"
    class="edu.harvard.med.screensaver.ui.CurrentScreensaverUser"
    scope="session">
    <property name="screensaverUser">
      <bean class="edu.harvard.med.screensaver.model.users.ScreeningRoomUser">
        <constructor-arg index="0" value="First"/>
        <constructor-arg index="1" value="Last"/>
      </bean>
    </property>
  </bean>

  <bean id="structureImageProvider"
        class="edu.harvard.med.iccbl.screensaver.io.libraries.smallmolecule.PlateWellFileNameStructureImageProvider">
    <constructor-arg value="http://localhost:8080/" />
  </bean>

  <bean
    id="screenGenerator"
    class="edu.harvard.med.screensaver.service.screens.DefaultScreenGenerator"/>

  <bean
    id="plateFacilityIdInitializer"
    class="edu.harvard.med.screensaver.service.libraries.DefaultPlateFacilityIdInitializer">
  </bean>

  <import resource="spring-context-persistence.xml"/>
  <import resource="spring-context-services.xml"/>
  <import resource="spring-context-logging.xml"/>
  <import resource="spring-context-ui.xml"/>
  
  <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
    <property name="scopes">
        <map>
            <entry key="session">
                <bean class="edu.harvard.med.screensaver.ui.MockSessionScope"/>
            </entry>
        </map>
    </property>
  </bean>

</beans>
