<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
   $HeadURL$
   $Id$

   Copyright © 2006, 2010 by the President and Fellows of Harvard College.
   
   Screensaver is an open-source project developed by the ICCB-L and NSRB labs
   at Harvard Medical School. This software is distributed under the terms of
   the GNU General Public License.
-->

<!-- A top-level, composite Spring context configuration file, intended to test
  the user authentication and data access policy code. Allows a full Spring 
  configuration to be referenced via a single file.  -->

<beans>

  <import resource="spring-context-config.xml"/>

  <bean
    id="currentScreensaverUser"
    class="edu.harvard.med.screensaver.ui.CurrentScreensaverUser">
  </bean>
  
  <bean
    id="entityViewPolicy"
    class="edu.harvard.med.iccbl.screensaver.policy.IccblEntityViewPolicy"
    scope="prototype">
    <constructor-arg ref="currentScreensaverUser" />
    <constructor-arg ref="genericEntityDao" />
  </bean>

  <bean
    id="plateFacilityIdInitializer"
    class="edu.harvard.med.screensaver.service.libraries.DefaultPlateFacilityIdInitializer">
  </bean>

  <bean id="cherryPickPlateSourceWellMinimumVolumePolicy"
   class="edu.harvard.med.iccbl.screensaver.policy.cherrypicks.IccblCherryPickPlateSourceWellMinimumVolumePolicy">
  </bean>
 
  <import resource="spring-context-authentication.xml"/>
  <import resource="spring-context-persistence.xml"/>
  <import resource="spring-context-services.xml"/>
  <import resource="spring-context-logging.xml"/>
  

</beans>
