<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
   $HeadURL$
   $Id$

   Copyright © 2006, 2010 by the President and Fellows of Harvard College.

   Screensaver is an open-source project developed by the ICCB-L and NSRB labs
   at Harvard Medical School. This software is distributed under the terms of
   the GNU General Public License.
-->


<!-- A top-level, composite Spring context configuration file, intended to run (most) unit tests (uses unrestricted data access policy).
  Allows a full Spring configuration to be referenced via a single file.  -->

<beans>

  <import resource="spring-context-config.xml"/>

  <bean id="entityViewPolicy"
   class="edu.harvard.med.screensaver.db.accesspolicy.DefaultEntityViewPolicy">
  </bean>

  <bean id="smallMoleculeCherryPickRequestAllowancePolicy"
   class="edu.harvard.med.iccbl.screensaver.policy.cherrypicks.SmallMoleculeCherryPickRequestAllowancePolicy">
    <constructor-arg ref="genericEntityDao"/>
   </bean>

  <bean id="rnaiCherryPickRequestAllowancePolicy"
   class="edu.harvard.med.iccbl.screensaver.policy.cherrypicks.RNAiCherryPickRequestAllowancePolicy" >
    <constructor-arg ref="genericEntityDao"/>
   </bean>

  <!-- needed for now, since we test SearchResults, which are currently (and unfortunately) backing beans, and in some cases depend upon the 'messages' property being initialized -->
  <bean
    id="messages"
    class="edu.harvard.med.screensaver.ui.util.Messages">
    <property name="messageSource">
      <bean
        class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:messages" />
      </bean>
    </property>
  </bean>

  <import resource="spring-context-persistence.xml"/>
  <import resource="spring-context-services.xml"/>
  <import resource="spring-context-logging.xml"/>

</beans>
