<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
   $HeadURL$
   $Id$

   Copyright © 2006, 2010, 2011, 2012 by the President and Fellows of Harvard College.

   Screensaver is an open-source project developed by the ICCB-L and NSRB labs
   at Harvard Medical School. This software is distributed under the terms of
   the GNU General Public License.
-->


<!-- A top-level, composite Spring context configuration file, intended to run functional user interface tests (uses unrestricted data access policy).
  Allows a full Spring configuration to be referenced via a single file.  -->

<beans>

  <import resource="classpath:spring-context-test.xml"/>
  <import resource="classpath:spring-context-ui.xml"/>

  <bean
    id="currentScreensaverUser"
    class="edu.harvard.med.screensaver.policy.CurrentScreensaverUser"
    scope="session">
    <property name="screensaverUser">
      <bean class="edu.harvard.med.screensaver.model.users.ScreeningRoomUser">
        <constructor-arg index="0" value="First"/>
        <constructor-arg index="1" value="Last"/>
      </bean>
    </property>
  </bean>

  <bean id="structureImageProvider"
        class="edu.harvard.med.iccbl.screensaver.io.libraries.smallmolecule.PlateWellStructureImageLocator">
    <constructor-arg value="http://localhost:8080/" />
  </bean>

  <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
    <property name="scopes">
        <map>
            <entry key="session">
                <bean class="edu.harvard.med.screensaver.ui.MockSessionScope"/>
            </entry>
        </map>
    </property>
  </bean>
    
  <bean
    id="appInfo"
    parent="uiBean"
    class="edu.harvard.med.screensaver.ui.ApplicationInfo"
    scope="singleton">
    <description>
      A global UI bean that provides basic, static information about the
      application (e.g., application name). This is the only UI bean
      that can be accessed by login.jsp.
    </description>
  </bean>
  
  <bean 
    id="imageProviderServlet" 
    class="edu.harvard.med.screensaver.ui.arch.util.servlet.ImageProviderServlet">
    <constructor-arg ref="appInfo" />
  </bean>
  

</beans>
