# screensaver.properties.bii.sample
#
# 


### build-time properties

# authentication can be 'FORM' (Screensaver login web page) or 'BASIC' (browser dialog)
servlet.authentication.method=FORM
appserver.dir=
log4j.properties.file=


### run-time properties

babel.executable.path=

# database connection
SCREENSAVER_PGSQL_SERVER=
SCREENSAVER_PGSQL_DB=
SCREENSAVER_PGSQL_USER=
SCREENSAVER_PGSQL_PASSWORD=

# cellHTS2 report properties
# The cellHTS2 report directory
# is <appserver.dir>/webapps/screensaver/<cellHTS2report.filepath.prefix><screen result Id>
cellHTS2report.filepath.prefix=cellHTS2/output/cellHts2_output_screenResultId_
