<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
 
  <bean
    id="eCommonsAuthenticationClient"
    class="edu.harvard.med.authentication.eCommons.ECommonsAuthenticationClient">
    <description>Client for an HMS network service that authenticates a given eCommons ID / password pair.</description>
    <!-- requesting application's name; arbitrary, for server auditing only -->
    <constructor-arg index="0" value="Screensaver1"/>
    <!-- the HMS-assigned "issuer" ID; must be approved -->
    <constructor-arg index="1" value="Orchestra_ATTR_CLIENT"/>
    <!-- the URL of the eCommons authentication server -->
    <constructor-arg index="2" value="https://authenticate.med.harvard.edu/wsAuthenticate.asp"/>
  </bean>

  <bean
    id="mockAuthenticationClient"
    class="edu.harvard.med.screensaver.ui.authentication.MockAuthenticationClient">
    <description>Client for an HMS network service that authenticates ANY given ID/password pair.</description>
  </bean>

  <bean
    id="screensaverLoginModule"
    class="edu.harvard.med.screensaver.ui.authentication.ScreensaverLoginModule"
    singleton="false">
    <description>JAAS LoginModule implementation that can be used to authenticate and authorize a user.  In our case, the Tomcat app server will make calls to this bean.  Maintains state between method calls, so cannot be a singleton.</description>
    <property name="dao" ref="dao"/>
    <!-- property name="authenticationClient" ref="eCommonsAuthenticationClient"/-->
    <property name="authenticationClient" ref="mockAuthenticationClient"/>
  </bean>
  
  <bean
    id="loginModuleFactory" 
    class="edu.harvard.med.screensaver.ui.authentication.LoginModuleFactoryImpl"
    init-method="initialize">
  </bean>

  <bean 
    id="screenResultParser"
    class="edu.harvard.med.screensaver.io.screenresults.ScreenResultParser"
    singleton="false">
    <constructor-arg index="0">
      <bean class="edu.harvard.med.screensaver.io.screenresults.MockDaoForScreenResultParserTest"/>
    </constructor-arg>
    <!-- constructor-arg ref="dao"/-->
  </bean>
  
  <bean 
    id="screenResultExporter"
    class="edu.harvard.med.screensaver.io.screenresults.ScreenResultExporter"
    singleton="true">
  </bean>
  
  <bean 
    id="rnaiLibraryContentsParser"
    class="edu.harvard.med.screensaver.io.libraries.rnai.RNAiLibraryContentsParser"
    singleton="false"
  >
    <constructor-arg ref="dao"/>
  </bean>
  
  <bean 
    id="screenDBDataImporter"
    class="edu.harvard.med.screensaver.db.screendb.ScreenDBDataImporter"
    singleton="true">
    <constructor-arg ref="dao"/>
  </bean>

</beans>
