<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
   $HeadURL:$
   $Id:$

   Copyright 2006 by the President and Fellows of Harvard College.

   Screensaver is an open-source project developed by the ICCB-L and NSRB labs
   at Harvard Medical School. This software is distributed under the terms of
   the GNU General Public License.
-->

<beans>

  <bean
    id="screenResultParser"
    class="edu.harvard.med.screensaver.io.screenresults.ScreenResultParser"
    scope="prototype">
    <constructor-arg index="0" ref="librariesDao"/>
  </bean>

  <!-- TODO: place this in a spring-context-testing.xml file, or something similar -->
  <bean
    id="mockScreenResultParser"
    class="edu.harvard.med.screensaver.io.screenresults.ScreenResultParser"
    scope="prototype">
    <description>A ScreenResultParser that does not need access to a database.  Used for testing.</description>
    <constructor-arg index="0" >
      <bean class="edu.harvard.med.screensaver.io.screenresults.MockDaoForScreenResultImporter"/>
    </constructor-arg>
  </bean>

  <bean
    id="screenResultExporter"
    class="edu.harvard.med.screensaver.io.screenresults.ScreenResultExporter"
    scope="singleton">
  </bean>

  <bean
    id="compoundLibraryContentsParser"
    class="edu.harvard.med.screensaver.io.libraries.compound.SDFileCompoundLibraryContentsParser"
    scope="singleton"
  >
    <constructor-arg ref="genericEntityDao"/>
    <constructor-arg ref="librariesDao"/>
  </bean>

  <bean
    id="naturalProductsLibraryContentsParser"
    class="edu.harvard.med.screensaver.io.libraries.compound.NaturalProductsLibraryContentsParser"
    scope="singleton"
  >
    <constructor-arg ref="genericEntityDao"/>
    <constructor-arg ref="librariesDao"/>
  </bean>

  <bean
    id="rnaiLibraryContentsParser"
    class="edu.harvard.med.screensaver.io.libraries.rnai.RNAiLibraryContentsParser"
    scope="singleton"
  >
    <constructor-arg ref="genericEntityDao"/>
    <constructor-arg ref="librariesDao"/>
  </bean>

  <bean
    id="bulkCompoundLibraryLoader"
    class="edu.harvard.med.screensaver.io.libraries.compound.BulkCompoundLibraryLoader"
    scope="singleton">
    <constructor-arg ref="genericEntityDao"/>
    <constructor-arg ref="compoundLibraryContentsParser"/>
  </bean>

  <bean
    id="bulkRNAiLibraryLoader"
    class="edu.harvard.med.screensaver.io.libraries.rnai.BulkRNAiLibraryLoader"
    scope="singleton">
    <constructor-arg ref="genericEntityDao"/>
    <constructor-arg ref="rnaiLibraryContentsParser"/>
  </bean>

  <bean
    id="rnaiLibraryContentsFileLoader"
    class="edu.harvard.med.screensaver.io.libraries.rnai.RNAiLibraryContentsFileLoader"
    scope="singleton">
    <constructor-arg ref="genericEntityDao"/>
    <constructor-arg ref="rnaiLibraryContentsParser"/>
  </bean>

  <bean
    id="bulkScreenResultImporter"
    class="edu.harvard.med.screensaver.io.screenresults.BulkScreenResultImporter"
    scope="singleton">
    <constructor-arg>
     <bean
      class="edu.harvard.med.screensaver.io.screenresults.ScreenResultParser">
      <constructor-arg ref="librariesDao" />
     </bean>
    </constructor-arg>
    <constructor-arg ref="genericEntityDao"/>
    <constructor-arg ref="screenResultsDao"/>
    <constructor-arg ref="hibernateTemplate"/>
  </bean>

  <bean
    id="reagentVendorIdentiferListParser"
    class="edu.harvard.med.screensaver.io.libraries.ReagentVendorIdentifierListParser"
    scope="singleton">
  </bean>

  <bean
    id="plateWellListParser"
    class="edu.harvard.med.screensaver.io.libraries.PlateWellListParser"
    scope="singleton">
    <constructor-arg ref="genericEntityDao"/>
    <constructor-arg ref="librariesDao"/>
  </bean>

  <bean
    id="libraryCopyGenerator"
    class="edu.harvard.med.screensaver.service.libraries.LibraryCopyGenerator"
    scope="singleton">
    <constructor-arg ref="genericEntityDao"/>
    <constructor-arg ref="librariesDao"/>
  </bean>

  <bean
    id="cherryPickRequestAllocator"
    class="edu.harvard.med.screensaver.service.cherrypicks.CherryPickRequestAllocator"
    scope="singleton">
    <constructor-arg ref="genericEntityDao"/>
    <constructor-arg ref="librariesDao"/>
    <constructor-arg ref="cherryPickRequestDao"/>
  </bean>

  <bean
    id="cherryPickRequestPlateMapper"
    class="edu.harvard.med.screensaver.service.cherrypicks.CherryPickRequestPlateMapper"
    scope="singleton">
    <constructor-arg ref="genericEntityDao"/>
  </bean>

  <bean
    id="cherryPickRequestPlateMapFilesBuilder"
    class="edu.harvard.med.screensaver.service.cherrypicks.CherryPickRequestPlateMapFilesBuilder"
    scope="singleton">
    <constructor-arg ref="genericEntityDao"/>
  </bean>

  <bean
    id="libraryPoolToDuplexWellMapper"
    class="edu.harvard.med.screensaver.service.libraries.rnai.LibraryPoolToDuplexWellMapper"
    scope="singleton">
  </bean>

  <bean
    id="cherryPickRequestExporter"
    class="edu.harvard.med.screensaver.io.cherrypicks.CherryPickRequestExporter"
    scope="singleton">
    <constructor-arg ref="genericEntityDao"/>
  </bean>

  <bean
    id="sdfWellsDataExporter"
    class="edu.harvard.med.screensaver.io.libraries.WellsDataExporter"
    scope="singleton">
    <constructor-arg ref="genericEntityDao" />
    <constructor-arg><value>SDF</value></constructor-arg>
  </bean>

  <bean
    id="xlsWellsDataExporter"
    class="edu.harvard.med.screensaver.io.libraries.WellsDataExporter"
    scope="singleton">
    <constructor-arg ref="genericEntityDao" />
    <constructor-arg><value>XLS</value></constructor-arg>
  </bean>

</beans>
