<?xml version="1.0" encoding="UTF-8"?>

<!--
   $HeadURL$
   $Id$

   Copyright © 2009, 2010 by the President and Fellows of Harvard College.

   Screensaver is an open-source project developed by the ICCB-L and NSRB labs
   at Harvard Medical School. This software is distributed under the terms of
   the GNU General Public License.
-->

<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

  <bean
    id="screensaverPropertiesConfigurer"
    class="edu.harvard.med.iccbl.screensaver.db.PropertyPlaceholderConfigurerWithDatabaseConfiguration">
    <property
      name="location"
      value="classpath:screensaver.properties" />
    <property
      name="ignoreResourceNotFound"
      value="true" />
    <!-- if settings are available as environment variables, use them instead of screensaver.properties file -->
    <property
      name="searchSystemEnvironment"
      value="true" />
    <property
      name="systemPropertiesModeName"
      value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
  </bean>


</beans>
