<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
  "http://www.springframework.org/dtd/spring-beans-2.0.dtd"-->

<!--
   $HeadURL$
   $Id$

   Copyright 2006 by the President and Fellows of Harvard College.
   
   Screensaver is an open-source project developed by the ICCB-L and NSRB labs
   at Harvard Medical School. This software is distributed under the terms of
   the GNU General Public License.
-->

<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
                      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

  <!--aop:aspectj-autoproxy proxy-target-class="true"/ -->
  
  <!-- bean
    id="userActivityLogAspect"
    class="edu.harvard.med.screensaver.ui.UserActivityLoggerAspect"/-->

  <bean
    id="messages"
    class="edu.harvard.med.screensaver.ui.util.Messages">
    <property name="messageSource">
      <bean
        class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <!-- specify the properties (or xml) resource containing the localized messages, without a locale extension and without a file extension -->
        <property
          name="basename"
          value="classpath:messages" />
      </bean>
    </property>
    <!--  TODO property name="locale" value=""/-->
  </bean>
  
  <!--  user authentication -->

  <bean
    id="currentScreensaverUser"
    class="edu.harvard.med.screensaver.ui.WebCurrentScreensaverUser"
    scope="session">
    <property
      name="dao"
      ref="genericEntityDao" />
    <aop:scoped-proxy />
  </bean>


  <!-- JSF beans -->

  <!-- WARNING: if scope attribute is defined here, it will NOT be inherited!!! -->
  <!-- WARNING: if <aop:scoped-proxy/> element is defined here, it will NOT make the inheriting bean definition into a scoped proxy! -->
  <bean
    id="uiBean"
    abstract="true">
    <description>
      Abstract bean definition for user interface beans.
    </description>
    <property
      name="messages"
      ref="messages" />
    <property
      name="currentScreensaverUser"
      ref="currentScreensaverUser" />
  </bean>
  

  <!-- === top-level & misc backing beans === -->
  
  <bean
    id="appInfo"
    parent="uiBean"
    class="edu.harvard.med.screensaver.ui.Menu"
    scope="singleton">
    <description>
      A global UI bean that provides static information about our
      application (e.g., application name). This is the only UI bean
      that can be accessed by login.jsp.
    </description>
  </bean>

  <bean
    id="exceptionReporter"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.ExceptionReporter">
    <description>
      Backing bean for the reportException view, enabling exception
      stack traces to be viewed in a custom manner.
    </description>
    <property
      name="mainController"
      ref="mainController"/>
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="mainController"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.control.MainControllerImpl">
    <property
      name="exceptionReporter"
      ref="exceptionReporter" />
    <aop:scoped-proxy/>
  </bean>
  
  <bean
    id="menu"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.Menu">
    <description>Backing bean for the menu panel.</description>
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="helpViewer"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.HelpViewer">
    <description>Backing bean for the Help Viewer page.</description>
    <aop:scoped-proxy/>
  </bean>
  
  <bean
    id="schemaManager"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.SchemaManager">
    <description>Schema Manager</description>
    <property name="schemaUtil" ref="schemaUtil" />
    <property name="dao" ref="genericEntityDao" />
    <aop:scoped-proxy/>
  </bean>


  <!-- === libraries backing beans === -->

  <bean
    id="librariesController"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.control.LibrariesControllerImpl">
    <description>Libraries Controller Bean</description>
    <property
      name="genericEntityDao"
      ref="genericEntityDao" />
    <property
      name="librariesDao"
      ref="librariesDao" />
    <property
      name="screensController"
      ref="screensController" />
    <property
      name="wellFinder"
      ref="wellFinder" />
    <property
      name="librariesBrowser"
      ref="librariesBrowser" />
    <property
      name="libraryViewer"
      ref="libraryViewer" />
    <property
      name="wellSearchResultsViewer"
      ref="wellSearchResultsViewer" />
    <property
      name="wellCopyVolumeSearchResultsViewer"
      ref="wellCopyVolumeSearchResultsViewer" />
    <property
      name="wellViewer"
      ref="wellViewer" />
    <property
      name="geneViewer"
      ref="geneViewer" />
    <property
      name="compoundViewer"
      ref="compoundViewer" />
    <property
      name="compoundLibraryContentsImporter"
      ref="compoundLibraryContentsImporter" />
    <property
      name="compoundLibraryContentsParser"
      ref="compoundLibraryContentsParser" />
    <property
      name="naturalProductsLibraryContentsImporter"
      ref="naturalProductsLibraryContentsImporter" />
    <property
      name="naturalProductsLibraryContentsParser"
      ref="naturalProductsLibraryContentsParser" />
    <property
      name="rnaiLibraryContentsImporter"
      ref="rnaiLibraryContentsImporter" />
    <property
      name="rnaiLibraryContentsParser"
      ref="rnaiLibraryContentsParser" />
    <property
      name="plateWellListParser"
      ref="plateWellListParser" />
    <property name="wellDataExporters">
    <list>
    <ref bean="sdfWellsDataExporter"/>
    <ref bean="xlsWellsDataExporter"/>
    </list>
    </property>
      
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="librariesUiBean"
    parent="uiBean"
    abstract="true">
    <description>
      Abstract bean definition for user interface beans that are
      associated with the ScreensController.
    </description>
    <property
      name="librariesController"
      ref="librariesController" />
  </bean>

  <bean
    id="wellFinder"
    parent="librariesUiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.libraries.WellFinder">
    <description>Well Finder</description>
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="librariesBrowser"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.libraries.LibrariesBrowser">
    <description>Libraries Browser</description>
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="libraryViewer"
    parent="librariesUiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.libraries.LibraryViewer">
    <description>Library Viewer</description>
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="wellSearchResultsViewer"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.libraries.WellSearchResultsViewer">
    <description>Well Search Results Viewer</description>
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="wellCopyVolumeSearchResultsViewer"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.libraries.WellCopyVolumeSearchResultsViewer">
    <description>Well/Copy Volume Search Results Viewer</description>
    <property
      name="librariesController"
      ref="librariesController" />
    <property
      name="screensController"
      ref="screensController" />
    <property
      name="genericEntityDao"
      ref="genericEntityDao" />
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="wellViewer"
    parent="librariesUiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.libraries.WellViewer">
    <description>Well Viewer</description>
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="geneViewer"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.libraries.GeneViewer">
    <description>Gene Viewer</description>
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="compoundViewer"
    parent="librariesUiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.libraries.CompoundViewer">
    <description>Compound Viewer</description>
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="compoundLibraryContentsImporter"
    parent="librariesUiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.libraries.CompoundLibraryContentsImporter">
    <description>Compound Library Contents Importer</description>
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="naturalProductsLibraryContentsImporter"
    parent="librariesUiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.libraries.NaturalProductsLibraryContentsImporter">
    <description>Natural Products Library Contents Importer</description>
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="rnaiLibraryContentsImporter"
    parent="librariesUiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.libraries.RNAiLibraryContentsImporter">
    <description>
      RNAi Library Contents Importer backing bean
    </description>
    <property
      name="rnaiLibraryContentsParser"
      ref="rnaiLibraryContentsParser" />
    <aop:scoped-proxy/>
  </bean>


  <!-- === screens backing beans === -->

  <bean
    id="screensController"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.control.ScreensControllerImpl">
    <description>Screens Controller</description>
    <property
      name="genericEntityDao"
      ref="genericEntityDao" />
    <property
      name="screenResultsDao"
      ref="screenResultsDao" />
    <property
      name="librariesDao"
      ref="librariesDao" />
    <property
      name="cherryPickRequestDao"
      ref="cherryPickRequestDao" />
    <property
      name="librariesController"
      ref="librariesController" />
    <property
      name="screensBrowser"
      ref="screensBrowser" />
    <property
      name="screenViewer"
      ref="screenViewer" />
    <property
      name="screenResultViewer"
      ref="screenResultViewer" />
    <property
      name="cherryPickRequestViewer"
      ref="cherryPickRequestViewer" />
    <property
      name="heatMapViewer"
      ref="heatMapViewer" />
    <property
      name="screenResultImporter"
      ref="screenResultImporter" />
    <property
      name="screenResultExporter"
      ref="screenResultExporter" />
    <property
      name="cherryPickRequestAllocator"
      ref="cherryPickRequestAllocator"/>
    <property
      name="cherryPickRequestPlateMapper"
      ref="cherryPickRequestPlateMapper"/>
    <property
      name="cherryPickRequestPlateMapFilesBuilder"
      ref="cherryPickRequestPlateMapFilesBuilder"/>
    <property
      name="libraryPoolToDuplexWellMapper"
      ref="libraryPoolToDuplexWellMapper"/>
    <property
      name="cherryPickRequestExporter"
      ref="cherryPickRequestExporter"/>
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="screensUiBean"
    parent="uiBean"
    abstract="true">
    <description>
      Abstract bean definition for user interface beans that are
      associated with the ScreensController.
    </description>
    <property
      name="screensController"
      ref="screensController" />
  </bean>

  <bean
    id="screensBrowser"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.screens.ScreensBrowser">
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="screenViewer"
    parent="screensUiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.screens.ScreenViewer">
    <property
      name="dao" ref="genericEntityDao"/>
    <property
      name="usersDao" ref="usersDao"/>
    <property
      name="dataAccessPolicy"
      ref="dataAccessPolicy" />
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="screenResultViewer"
    parent="screensUiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.screenresults.ScreenResultViewer">
    <property
      name="screenResultsDao" ref="screenResultsDao"/>
    <property name="librariesDao" ref="librariesDao"/>
    <aop:scoped-proxy />
  </bean>

  <bean
    id="screenResultImporter"
    parent="screensUiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.screenresults.ScreenResultImporter">
    <property name="dao" ref="genericEntityDao"/>
  </bean>

  <bean
    id="cherryPickRequestViewer"
    parent="screensUiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.screens.CherryPickRequestViewer">
    <property name="dao" ref="genericEntityDao"/>
    <property name="plateWellListParser" ref="plateWellListParser" />
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="screenFinder"
    parent="screensUiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.screens.ScreenFinder">
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="cherryPickRequestFinder"
    parent="screensUiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.screens.CherryPickRequestFinder">
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="heatMapViewer"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.screensaver.ui.screenresults.HeatMapViewer">
    <property name="genericEntityDao" ref="genericEntityDao"/>
    <property name="screenResultsDao" ref="screenResultsDao"/>
    <property name="librariesDao" ref="librariesDao"/>
    <aop:scoped-proxy/>
  </bean>
  
  <!-- Development/Debug related beans -->

  <bean
    id="envInfo"
    parent="uiBean"
    class="edu.harvard.med.screensaver.ui.Environment">
    <property
      name="host"
      value="${SCREENSAVER_PGSQL_SERVER}" />
    <property
      name="db"
      value="${SCREENSAVER_PGSQL_DB}" />
    <property
      name="user"
      value="${SCREENSAVER_PGSQL_USER}" />
    <property
      name="url"
      value="jdbc:postgresql://${SCREENSAVER_PGSQL_SERVER}/${SCREENSAVER_PGSQL_DB}" />
  </bean>

</beans>
