<?xml version="1.0" encoding="UTF-8"?>

<!--
   $HeadURL$
   $Id$

   Copyright © 2006, 2010 by the President and Fellows of Harvard College.
   
   Screensaver is an open-source project developed by the ICCB-L and NSRB labs
   at Harvard Medical School. This software is distributed under the terms of
   the GNU General Public License.
-->

<!-- A top-level, composite Spring context configuration file, intended for use with the 
  Screensaver web application.  Allows a full Spring configuration to be referenced via a 
  single file. -->

<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

  <!--  user authentication -->

  <bean
    id="currentScreensaverUser"
    class="edu.harvard.med.screensaver.ui.WebCurrentScreensaverUser"
    scope="session">
    <property
      name="dao"
      ref="genericEntityDao" />
    <aop:scoped-proxy />
  </bean>

  <!--  Policy & Service configuration section for web application-->

  <import resource="spring-context-config.xml"/>

  <bean
    id="entityViewPolicy"
    class="edu.harvard.med.screensaver.policy.DefaultEntityViewPolicy"
    scope="session">
    <aop:scoped-proxy />
  </bean>
  
  <bean
    id="entityEditPolicy"
    class="edu.harvard.med.screensaver.policy.DefaultEntityEditPolicy"
    scope="session">
    <aop:scoped-proxy />
  </bean>
  
  <bean id="smallMoleculeCherryPickRequestAllowancePolicy"
   class="edu.harvard.med.iccbl.screensaver.policy.cherrypicks.SmallMoleculeCherryPickRequestAllowancePolicy" >
    <constructor-arg ref="genericEntityDao"/>
  </bean>

  <bean id="rnaiCherryPickRequestAllowancePolicy"
   class="edu.harvard.med.iccbl.screensaver.policy.cherrypicks.RNAiCherryPickRequestAllowancePolicy" >
    <constructor-arg ref="genericEntityDao"/>
  </bean>
 
  <bean id="structureImageProvider"
        class="edu.harvard.med.iccbl.screensaver.io.libraries.smallmolecule.PlateWellFileNameStructureImageProvider">
    <constructor-arg value="${screensaver.ui.structure_images_base_url}" />
  </bean>
  
  <bean
    id="screenGenerator"
    class="edu.harvard.med.screensaver.service.screens.DefaultScreenGenerator">
    <constructor-arg>
      <bean
        id="screenFacilityIdInitializer"
        class="edu.harvard.med.screensaver.service.screens.DefaultScreenFacilityIdInitializer" />
    </constructor-arg>
    <constructor-arg ref="genericEntityDao" />
  </bean>

  <bean
    id="plateFacilityIdInitializer"
    class="edu.harvard.med.screensaver.service.libraries.DefaultPlateFacilityIdInitializer">
  </bean>

  <!--  Top-level web application construction -->

  <import resource="spring-context-persistence.xml"/>
  <import resource="spring-context-services.xml"/>
  <import resource="spring-context-ui.xml"/>
  <import resource="spring-context-authentication.xml"/>
  <import resource="spring-context-logging.xml"/>
  
</beans>
