<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- A top-level, composite Spring context configuration file, intended for use with the Screensaver web 
 application, or any derived command-line application that requires the same configuration as the web 
 application, including database access.  Allows a full Spring configuration to be referenced via a single 
 file.  Mutually exclusive with spring-context-sans-db.xml, which is intended for command-line applications 
 that do not need database access (and that must be runnable when a database cannot be accessed). -->

<beans>

  <import resource="spring-context-logging.xml"/>
  <import resource="spring-context-persistence.xml"/>
  <import resource="spring-context-services.xml"/>
  <import resource="spring-context-ui.xml"/>
  
</beans>
