<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
 
  <bean 
    id="screenResultParser"
    class="edu.harvard.med.screensaver.io.screenresult.ScreenResultParser"
    singleton="true">
    <constructor-arg index="0">
      <bean class="edu.harvard.med.screensaver.io.screenresult.MockDaoForScreenResultParserTest"/>
    </constructor-arg>
    <!-- constructor-arg ref="dao"/-->
  </bean>
  
  <bean 
    id="screenResultExporter"
    class="edu.harvard.med.screensaver.io.screenresult.ScreenResultExporter"
    singleton="true">
  </bean>
  
  <bean 
    id="rnaiLibraryContentsLoader"
    class="edu.harvard.med.screensaver.io.libraries.RNAiLibraryContentsLoader"
    singleton="true"
  >
  </bean>
  
  <bean 
    id="screenDBDataImporter"
    class="edu.harvard.med.screensaver.db.screendb.ScreenDBDataImporter"
    singleton="true">
    <constructor-arg ref="dao"/>
    <constructor-arg ref="schemaUtil"/>
  </bean>

</beans>
