<?xml version="1.0" encoding="UTF-8"?>

<!--
   $HeadURL$
   $Id$

   Copyright © 2006, 2010, 2011, 2012 by the President and Fellows of Harvard College.
   
   Screensaver is an open-source project developed by the ICCB-L and NSRB labs
   at Harvard Medical School. This software is distributed under the terms of
   the GNU General Public License.
-->

<!-- A top-level, composite Spring context configuration file, intended for use with the 
  Screensaver web application.  Allows a full Spring configuration to be referenced via a 
  single file. -->

<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

  <import resource="spring-context-web-default.xml"/>
  
  <bean
    id="entityViewPolicy"
    class="edu.harvard.med.lincs.screensaver.policy.LincsEntityViewPolicy"
    scope="session">
    <constructor-arg ref="currentScreensaverUser"/>
    <aop:scoped-proxy />
  </bean>
  
  <bean
    id="entityEditPolicy"
    class="edu.harvard.med.lincs.screensaver.policy.LincsEntityEditPolicy"
    scope="session">
    <constructor-arg ref="currentScreensaverUser"/>
    <aop:scoped-proxy />
  </bean>
    
  <bean id="structureImageProvider"
        class="edu.harvard.med.iccbl.screensaver.io.libraries.smallmolecule.RestrictedStructureImageLocatorDecorator">
    <constructor-arg>
      <bean class="edu.harvard.med.lincs.screensaver.io.libraries.smallmolecule.SmallMoleculeReagentFacilitySaltIdStructureImageLocator">
        <constructor-arg value="#{screensaverProperties.map['screensaver.images.base_url']}/compound-images-by-facility-salt-id/" />
        <constructor-arg ref="urlEncrypter" />
      </bean>
    </constructor-arg>
  </bean>
  
  <bean id="studyImageProvider"
        class="edu.harvard.med.lincs.screensaver.io.screens.StudyFacilityIdStudyImageLocator">
    <constructor-arg value="#{screensaverProperties.map['screensaver.images.base_url']}/screen-images-by-facility-id/" />
    <constructor-arg ref="urlEncrypter" />
  </bean>

  <bean
    id="wellsBrowser"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.lincs.screensaver.ui.libraries.LincsWellSearchResults">
    <constructor-arg ref="genericEntityDao" />
    <constructor-arg ref="librariesDao" />
    <constructor-arg ref="entityViewPolicy" />
    <constructor-arg ref="libraryViewer" />
    <constructor-arg ref="wellViewer" />
    <constructor-arg ref="structureImageProvider" />
    <constructor-arg ref="libraryContentsVersionRef" />
    <constructor-arg>
      <list>
          <bean class="edu.harvard.med.screensaver.ui.arch.searchresults.DataExporterAdapter">
            <constructor-arg ref="wellsSdfDataExporterForUi" />
            <constructor-arg><bean class="edu.harvard.med.screensaver.db.datafetcher.TupleToKeyFunction" /></constructor-arg>
          </bean>
      </list>
    </constructor-arg>
    <property name="reagentsBrowser" ref="reagentsBrowser"/>
    <property
      name="rowsPerPageSelections">
      <list>
        <value>12</value>
        <value>24</value>
        <value>48</value>
        <value>96</value>
        <value>384</value>
      </list>
    </property>
    <property name="defaultRowsPerPage" value="24" /> 
    <aop:scoped-proxy/>
  </bean>
  
  <bean
    id="reagentsBrowser"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.lincs.screensaver.ui.libraries.LincsWellSearchResults">
    <constructor-arg ref="genericEntityDao" />
    <constructor-arg ref="librariesDao" />
    <constructor-arg ref="entityViewPolicy" />
    <constructor-arg ref="libraryViewer" />
    <constructor-arg ref="wellViewer" />
    <constructor-arg ref="structureImageProvider" />
    <constructor-arg ref="libraryContentsVersionRef" />
    <constructor-arg>
      <list>
          <bean class="edu.harvard.med.screensaver.ui.arch.searchresults.DataExporterAdapter">
            <constructor-arg ref="wellsSdfDataExporterForUi" />
            <constructor-arg><bean class="edu.harvard.med.screensaver.db.datafetcher.TupleToKeyFunction" /></constructor-arg>
          </bean>
      </list>
    </constructor-arg>
    <property
      name="rowsPerPageSelections">
      <list>
        <value>12</value>
        <value>24</value>
        <value>48</value>
        <value>96</value>
        <value>384</value>
      </list>
    </property>
    <property name="defaultRowsPerPage" value="24" /> 
    <aop:scoped-proxy/>
  </bean>

  <bean
    id="wellSearchResultsNested"
    parent="uiBean"
    scope="prototype"
    class="edu.harvard.med.lincs.screensaver.ui.libraries.LincsWellSearchResults">
    <constructor-arg ref="genericEntityDao" />
    <constructor-arg ref="librariesDao" />
    <constructor-arg ref="entityViewPolicy" />
    <constructor-arg ref="libraryViewer" />
    <constructor-arg ref="wellViewer" />
    <constructor-arg ref="structureImageProvider" />
    <constructor-arg ref="libraryContentsVersionRef" />
    <constructor-arg>
      <list>
          <bean class="edu.harvard.med.screensaver.ui.arch.searchresults.DataExporterAdapter">
            <constructor-arg ref="wellsSdfDataExporterForUi" />
            <constructor-arg><bean class="edu.harvard.med.screensaver.db.datafetcher.TupleToKeyFunction" /></constructor-arg>
          </bean>
      </list>
    </constructor-arg>
    <property
      name="rowsPerPageSelections">
      <list>
        <value>12</value>
        <value>24</value>
        <value>48</value>
        <value>96</value>
        <value>384</value>
      </list>
    </property>
    <property name="defaultRowsPerPage" value="24" /> 
    <property name="nested" value="true" /> 
  </bean>

  <bean
    id="wellViewer"
    parent="uiBean"
    scope="session"
    class="edu.harvard.med.lincs.screensaver.ui.libraries.WellViewer">
    <constructor-arg ref="wellViewer" />
    <constructor-arg ref="wellsBrowser" />
    <constructor-arg ref="genericEntityDao" />
    <constructor-arg ref="librariesDao" />
    <constructor-arg ref="entityViewPolicy" />
    <constructor-arg ref="libraryViewer" />
    <constructor-arg ref="structureImageProvider" />
    <constructor-arg ref="studyViewer" />
    <constructor-arg ref="wellsSdfDataExporterForUi" />
    <constructor-arg ref="libraryContentsVersionRef" />
    <constructor-arg ref="annotationsBrowser" />
    <constructor-arg ref="screenResultReporter" />
    <constructor-arg>
      <bean class="edu.harvard.med.lincs.screensaver.io.screens.SmallMoleculeReagentFacilitySaltIdStudyImageLocator">
        <constructor-arg value="#{screensaverProperties.map['screensaver.images.base_url']}/ambit-study-compound-images-by-facility-salt-id/" />
        <constructor-arg ref="urlEncrypter" />
      </bean>
    </constructor-arg>
    <constructor-arg ref="attachedFiles" />
    <aop:scoped-proxy/>
  </bean>
  
</beans>
