body {
	font-family: helvetica, arial, sans-serif;
	font-size: medium;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
}

h1,.title {
	font-size: x-large;
	font-weight: bold;
}

h2,.sectionHeader {
	font-weight: bold;
	font-variant: small-caps;
	font-size: large;
	color: white;
	background-color: blue;
	text-decoration: none;
	width: 100%;
	padding: 2px 2px 2px 2px;
}

h3,.subsectionHeader {
	font-weight: bold;
	font-variant: small-caps;
	font-size: medium;
	color: white;
	background-color: blue;
	text-decoration: none;
	width: 100%;
	padding: 2px 2px 2px 2px;
}

.icon {
	border: none
}

.footer {
	color: graytext;
	font-size: small;
}

.userName {
	font-weight: bold;
	font-style: italic;
}

a,a:link,a:visited,a:active {
	color: #000000;
	background-color: inherit;
}

a:hover {
	color: #ff0000;
	background-color: inherit;
}

hr {
	height: 1px;
	border-style: dotted;
	border-color: #000000;
	border-width: 0px 0px 1px 0px;
}

.errorMessage {
	font-style: italic;
	font-size: large;
	color: red;
	border: 1px;
}

.spacer {
	margin-left: 4px;
	margin-right: 4px;
}

.standardTable {
	color: #000000;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	border-collapse: collapse;
}

.heatMapsTable {
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

.heatMapTable {
	border-style: none;
	border-collapse: collapse;
	font-size: x-small;
	text-align: center;
}

.heatMapCell {
	width: 100px;
	min-width: 40px;
}

a.heatMapValue:link,a.heatMapValue:visited 	{
	text-decoration: none;
	color: black;
}

.dataText,.input {
	font-family: sans-serif;
	font-size: small;
}

.command,.input,.inputLabel {
	margin-right: 4px;
}

.hiddenCommand {
	visibility: hidden;
}

.inputLabel {
	vertical-align: top;
	font-family: sans-serif;
}

.column,.keyColumn,.numericColumn {
	vertical-align: top;
}

.keyColumn {
	font-weight: bold;
}

.numericColumn {
	text-align: right
}

.tableHeader,.tableFooter {
	font-weight: bold;
	background-color: #eeffff;
	padding-right: 4px;
}

.row1,.row2 {
	font-size: small;
	border-top: none;
	border-bottom: none;
}

.row1 {
	background-color: #ffffff;
}

.row2 {
	background-color: #eeeeee;
}

.scroller_activePage {
	font-weight: bold;
}

.menuColumn,.contentColumn {
	vertical-align: top;
}

.menuColumn {
	background-color: blue;
	color: white;
	font-size: small;
}

.menuItem,.menuItemActive {
	color: white;
}

.menuItemActive {
	font-weight: bold;
}

a.menuItem:link,a.menuItem:visited,a.menuItemActive:link,a.menuItemActive:visited 	{
	color: white;
	text-decoration: none;
}

a.menuItem:hover,a.menuItemActive:hover {
	color: white;
	text-decoration: underline;
}

.entityLink,.labLink {
	text-decoration: none;
}

.labLink {
	color: gray;
}

.navSeparator {
	line-height: 12px;
	border-bottom: 1px solid white;
}

.resultsNavPanelStatus {
	font-weight: bold;
	font-size: large;
	margin-left: 4px;
	margin-right: 4px;
}

.nonSpacingPanel {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.stackTraceException {
	font-size: medium;
	font-weight: bold;
}

.stackTraceDetail {
	font-size: x-small;
}

.highlightedStackTraceDetail {
	font-size: x-small;
	font-weight: bold;
}

