body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

h1 {
  font-size: 24px;
}

h2 {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 16px;
}

.sectionHeader {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 16px;
}

a,a:link,a:visited,a:active {
  color: #000000;
  background-color: inherit;
}

a:hover {
  color: #ff0000;
  background-color: inherit;
}

hr {
  height: 1px;
  border-style: dotted;
  border-color: #000000;
  border-width: 0px 0px 1px 0px;
}

.errorMessage {
  font-style: italic;
  font-size: 14px;
  color: red;
}

.standardTable {
  font-size: 12px;
  color: #000000;
  padding: 1;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-collapse: collapse;
}

.command,.input {
  margin-right: 4px;
}

.keyColumn {
  font-weight: bold;
}

.column {
  border-left-width: 10px;
  border-color: white;
}

.tableHeader {
  background-color: #eeffff;
}

.row1,.row2 {
  font-family: monospace;
  font-size: 10px;
  border-top: none;
  border-bottom: none;
}

.row1 {
  background-color: #ffffff;
}

.row2 {
  background-color: #eeeeee
}

.scroller_activePage {
  font-weight: bold
}