<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
   $HeadURL: http://seanderickson1@forge.abcd.harvard.edu/svn/screensaver/trunk/batch/src/main/resources/spring-context-cmdline-iccbl-cron.xml $
   $Id: spring-context-cmdline-iccbl-cron.xml 6949 2012-01-13 19:00:59Z seanderickson1 $

   Copyright © 2006, 2010, 2011, 2012 by the President and Fellows of Harvard College.
   
   Screensaver is an open-source project developed by the ICCB-L and NSRB labs
   at Harvard Medical School. This software is distributed under the terms of
   the GNU General Public License.
-->

<!-- A top-level, composite Spring context configuration file, intended for running command line applications at ICCB-L. -->

<beans>

  <import resource="classpath:spring-context-cmdline-generic.xml"/>

  <!-- TODO: this bean def is also in spring-context-web-iccbl.xml, so we should define in a common spring context file -->  
  <bean
    id="screenGenerator"
    class="edu.harvard.med.iccbl.screensaver.service.screens.IccblScreenGenerator">
    <constructor-arg>
      <bean
        id="screenFacilityIdInitializer"
        class="edu.harvard.med.iccbl.screensaver.service.screens.IccblScreenFacilityIdInitializer" >
        <constructor-arg ref="genericEntityDao" />
        <constructor-arg ref="screenDao" />
      </bean>
    </constructor-arg>
    <constructor-arg ref="genericEntityDao" />
  </bean>
 
  <bean
    id="screensaverProperties"
    class="edu.harvard.med.screensaver.ScreensaverProperties"
    scope="singleton">
    <constructor-arg value="/screensaver.properties" />
    <constructor-arg>
      <list>
        <bean
          id="commandLineArgumentsDatabaseSettingsResolver"
          class="edu.harvard.med.iccbl.screensaver.db.IccblCommandLineArgumentsDatabaseConnectionSettingsResolver" />
        <bean class="edu.harvard.med.iccbl.screensaver.db.OrchestraAuthFileDatabaseConnectionSettingsResolver"/>
      </list>
    </constructor-arg>
  </bean>
 
</beans>
