<?xml version="1.0" encoding="UTF-8"?>

<!--
   $HeadURL$
   $Id$

   Copyright © 2006, 2010 by the President and Fellows of Harvard College.

   Screensaver is an open-source project developed by the ICCB-L and NSRB labs
   at Harvard Medical School. This software is distributed under the terms of
   the GNU General Public License.
-->

<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

  <!-- Data source -->

  <bean
    id="screensaverDataSource"
    class="org.apache.commons.dbcp.BasicDataSource">
    <description>
      DataSource used for running web application and utility programs
    </description>
    <property
      name="driverClassName"
      value="org.postgresql.Driver" />
    <property
      name="url"
      value="#{screensaverProperties.databaseConnectionSettings.jdbcUrl}" />
    <property
      name="username"
      value="#{screensaverProperties.databaseConnectionSettings.user}" />
    <property
      name="password"
      value="#{screensaverProperties.databaseConnectionSettings.password}" />
    <property
      name="minIdle"
      value="0" />
  </bean>
  
  <bean name="entityViewPolicyInjector" class="edu.harvard.med.screensaver.db.accesspolicy.EntityViewPolicyInjectorPostLoadEventListener" />


  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="screensaverDataSource"/>
    <property name="persistenceProvider">
      <bean class="org.hibernate.ejb.ConfigurableListenerBeansHibernatePersistence">
        <property name="postLoadEventListeners">
          <list>
            <ref bean="entityViewPolicyInjector" />
          </list>
        </property>
        <property name="persistEventListeners">
          <list>
            <ref bean="entityViewPolicyInjector" />
          </list>
        </property>
        <property name="mergeEventListeners">
          <list>
            <ref bean="entityViewPolicyInjector" />
          </list>
        </property>
        <property name="saveOrUpdateEventListeners">
          <list>
            <ref bean="entityViewPolicyInjector" />
          </list>
        </property>
      </bean>
    </property>
    <property name="jpaPropertyMap">
      <map>
      </map>
    </property>
  </bean>

  <!-- Transactional support -->

  <!-- enable the configuration of transactional behavior based on annotations -->
  <!-- we (arbitrarily) use order="16" to allow other advice to be execute "outside" (before & after) transactional scope -->

  <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" order="16"/>

  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory"/>
    <property name="nestedTransactionAllowed" value="true" />
    <property name="jpaPropertyMap">
      <map>
        <entry key="org.hibernate.flushMode" value="COMMIT" />
      </map>
    </property>
  </bean>
  
  <!--  TODO: autoflush setting? (was turned off, previoulsy) -->

  <!-- end of transactional support configuration -->

  <!-- have Spring inject EntityManager into (DAO) beans having @PersistenceContext -->
  <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

  
  <!-- Data Access Object (DAO) beans -->

  <bean
    id="genericEntityDao"
    class="edu.harvard.med.screensaver.db.GenericEntityDAOImpl">
  </bean>
  
  <bean
    id="usersDao"
    class="edu.harvard.med.screensaver.db.UsersDAO">
  </bean>

  <bean
    id="librariesDao"
    class="edu.harvard.med.screensaver.db.LibrariesDAOImpl">
    <constructor-arg ref="genericEntityDao" />
  </bean>

  <bean
    id="screenDao"
    class="edu.harvard.med.screensaver.db.ScreenDAOImpl">
    <constructor-arg ref="genericEntityDao" />
  </bean>

  <bean
    id="screenResultsDao"
    class="edu.harvard.med.screensaver.db.ScreenResultsDAOImpl">
    <constructor-arg ref="genericEntityDao" />
  </bean>

  <bean
    id="cherryPickRequestDao"
    class="edu.harvard.med.screensaver.db.CherryPickRequestDAO">
    <constructor-arg ref="genericEntityDao" />
  </bean>
  
  
  <bean
    id="schemaUtil"
    class="edu.harvard.med.screensaver.db.SchemaUtil">
    <property
      name="usersDao"
      ref="usersDao" />
  </bean>
    

</beans>
