<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory name="foo">
    <property name="show_sql">true</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://localhost/screensaver</property>
    <property name="connection.username">screensaver</property>
    <property name="connection.password">screensaver</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <mapping resource="edu/harvard/med/screensaver/beans/Compound.hbm.xml" />
  </session-factory>
</hibernate-configuration>
